{% extends "layout/index.html" %}

{% block container %}
    <h4>Menambah Peserta Lama [{{peserta.nama_peserta}}]</h4>
    <form method="POST" action="">
        {% csrf_token %}
        <table class="table table-bordered">
            <!-- <input type="hidden" name="id" value="{{peserta.id}}"> -->
            {{ form.as_table }}
            <tr>
                <td><input type="submit" class="btn btn-primary"></td>
            </tr>
        </table>
    </form>
{% endblock container %}

{% block js %}
<script>
    $(function(){
        $("#id_program").select2()
    })
</script>
{% endblock js %}
